:root {
  --fancy-font-family: Tahoma, Geneva, sans-serif;
  --palette-bg-main: #ffffff;
  --palette-bg-extras: #fefffd;
  --palette-rulers: #b3b3b3;
  --palette-details: #15b52b;
  --palette-fg-link: #11aa25;
  --palette-fg-main: #000000;
}

a {
  color: var(--palette-fg-link);
}
a:hover {
  color: var(--palette-fg-main);
}

body, html {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 90%;
}
ol, ul {
  margin: 0;
  padding-left: 1rem;
}

#content {
  overflow: hidden;
}
#footer {
  background: var(--palette-bg-extras);
  border-top: 1px solid var(--palette-rulers);
  border-bottom: 3px solid var(--palette-details);
  font-family: var(--fancy-font-family);
  padding: 0.3em 0.5em;
}
#header {
  background: var(--palette-bg-extras);
  border-top: 3px solid var(--palette-details);
  box-shadow: 0 2px 10px -4px #555;
  font-family: var(--fancy-font-family);
  padding: 0.3em 0.5em;
  z-index: 100;
}
#main {
  background: var(--palette-bg-main);
  padding: 1rem 1em;
  overflow-y: scroll;
}
#sidebar {
  background: var(--palette-bg-extras);
  border-right: 1px solid var(--palette-rulers);
  font-family: var(--fancy-font-family);
  padding: 0;
  overflow-y: scroll;
  min-width: 18rem;
  max-width: 18rem;
}
#sidebar a {
  color: var(--palette-fg-main);
}
#sidebar aside {
  padding: 1rem;
}
#sidebar li {
  line-height: 1.5rem;
  position: relative;
}
#sidebar li span:before {
  border: solid black;
  border-width: 0 3px 3px 0;
  content: '';
  cursor: pointer;
  display: inline-block;
  left: -1em;
  padding: 3px;
  position: absolute;
  top: 0.3em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#sidebar ul {
  list-style-type: none;
}

.flex-grow-1 {
  flex-grow: 1;
}
.h-flex {
  display: flex;
  flex-direction: row;
}
.v-flex {
  display: flex;
  flex-direction: column;
}
