body, html {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 90%;
}

#sidebar {
  width: 15rem;
}

.flex-grow-1 {
  flex-grow: 1;
}
.h-flex {
  display: flex;
  flex-direction: row;
}
.v-flex {
  display: flex;
  flex-direction: column;
}
