{{ $asciidoc := resources.Get "css/asciidoc.css" }}
{{ $highlight := resources.Get "css/atom-one-dark-reasonable.css" }}
{{ $featherlight := resources.Get "css/featherlight.min.css" }}
{{ $theme := resources.Get "css/theme.css" }}

{{ $css := slice $highlight $featherlight $theme $asciidoc }}
{{ with .Site.Params.themeVariant }}
  {{ $css = $css | append (printf "css/theme-%s.css" . | resources.Get) }}
{{ end }}
{{ $css := $css | resources.Concat "css/main.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
